<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <h3>Proyecto financiado por:</h3>
    <div id="logos-footer">
	    <%= image_tag "store/ministerio.png", :alt => "Ministerio de Innovación y Ciencia", :id => "logo-ministerio" %>
	    <%= image_tag "store/junta.png", :alt => "Junta de Andalucía", :id => "logo-junta" %>
	    <%= image_tag "store/uja.png", :alt => "Universidad de Jaén", :id => "logo-uja" %>
	</div>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook>
  	<p>Este es un sitio de demostración desarrollado para el proyecto <a href="http://www.yoexportoaceite.com">YoExportoAceite</a></p>
  	<p>Si quieres saber cómo tener tu tienda online visita <a href="http://www.yoexportoaceite.com/tienda-on-line">nuestro portal</a> o escribe a <a href="mailto:info@yoexportoaceite.com">info@yoexportoaceite.com</a></p>
  </div>
</footer>